@charset "utf-8";

/*
	Div to store the quotes added by user
*/
.quote{
	border-style : solid;
	border-radius : 25px;
	padding : 10px;
	width : 80%;
	word-wrap: break-word;
	word-break: break-all;
	
}
/*
	The text-area for the user to submit a quote
*/
#quote{
	line-height : 5em;
}
/*
	container used to hold the login, registration, and add quote forms
*/
.container{
	width : 500px;
	height : 300 px;
	border-style : solid;
	border-color : cyan;
	padding : 10px;
}
label{
	display : inline-block;
	float:  left;
}
